$primary-grey-color: #a2a6af;
$primary-black-color: #494d55;
$primary-white-color: #ffffff;

@mixin text-options(
  $family: "Nunito",
  $size: 16px,
  $margin-t: 0px,
  $margin-b: 0px
) {
  font-family: $family;
  font-size: $size;
  margin-top: $margin-t;
  margin-bottom: $margin-b;
}

.flex-row {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.container-features {
  padding-top: 133px;
  padding-bottom: 150px;

  @media (max-width: 625px) {
    text-align: center;
  }
}

.features-desc {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 38px;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  margin-bottom: 76px;

  &-item {
    position: relative;
    margin-left: 25px;
    @include text-options();
    font-weight: 600;
    line-height: 29px;
    color: #000000;

    @media (max-width: 625px) {
      margin-left: 0px;
    }

    &::before {
      content: "";
      background: url(../img/checkmark-circle-outline.png) no-repeat left top;
      height: 30px;
      width: 30px;
      position: absolute;
      left: -25px;
      top: 8px;

      @media (max-width: 625px) {
        display: none;
      }
    }
  }
}

.features-img {
  @media (max-width: 625px) {
    display: none;
  }
}

.features-img-mobile {
  display: none;

  @media (max-width: 625px) {
    display: block;
  }
}
