$primary-orange-color: #ff7373;
$primary-orange-hover-color: #fc9292;
$primary-grey-color: #a2a6af;
$primary-black-color: #272727;
$primary-white-color: #ffffff;
$primary-window-color: #f7f8fa;
$pricing-green-color: #75c181;
$pricing-blue-color: #58bbee;
$pricing-orange-color: #f8a13f;

@mixin text-options(
  $family: "Nunito",
  $size: 16px,
  $margin-t: 0px,
  $margin-b: 0px
) {
  font-family: $family;
  font-size: $size;
  margin-top: $margin-t;
  margin-bottom: $margin-b;
}

.header-bg {
  background: url("../img/image-bg.png") no-repeat center top/cover;
}

.nav-container {
  position: relative;
  z-index: 5;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 0 5px 1px $primary-grey-color;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo-container {
  color: $primary-black-color;
  display: flex;
  align-items: center;

  order: 1;
}

.logo-icon-container {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &-big {
    width: 70px;
    height: 70px;
  }
}

.logo-icon {
  width: 100%;
  height: 100%;
}

.logo-title {
  color: $primary-orange-color;
  font-size: 19px;
  font-weight: 700;

  &-big {
    font-size: 38px;
  }
}

.nav-list {
  list-style: none;
  display: flex;

  order: 2;

  &:first-of-type {
    @media (max-width: 767px) {
      position: absolute;
      top: 72px;
      left: 0;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background: $primary-white-color;
      transform: translate(130%, 0%);
      transition: all 2s ease;

      &:hover {
        transform: translate(0%, 0%);
        transition: all 1s ease;
      }
    }
  }

  &-item {
    margin-left: 30px;
    position: relative;

    @media (max-width: 767px) {
      margin-left: 0px;
    }

    &:first-child {
      margin-left: 0px;
    }

    a {
      font-size: 16px;
      font-weight: 700;
      color: $primary-black-color;
      transition: all 0.3s ease;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 44px;
        left: 0;
        width: 0%;
        height: 4px;
        background: $primary-orange-color;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &:hover {
        color: $primary-black-color;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
          color: $primary-white-color;
        }

        &::before {
          width: 100%;
          transition: all 0.3s ease;
        }
      }

      @media (max-width: 767px) {
        line-height: 2.5;
      }
    }
  }
}

.nav-burger-menu {
  display: none;
  padding: 9px 10px;
  background: $primary-black-color;
  border-radius: 5px;
  cursor: pointer;

  order: 3;

  @media (max-width: 767px) {
    display: block;
  }

  &:hover ~ .nav-list {
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
  }
}

.nav-burger-menu-row {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  margin-top: 4px;
  background: $primary-white-color;
  &:first-child {
    margin-top: 0px;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 240px;
  padding-bottom: 180px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 20px 40px 63px;

  max-width: 730px;
  background-color: rgba($primary-window-color, 0.8);
  border-radius: 2px;

  @media (max-width: 525px) {
    padding: 20px 10px 43px;
  }

  @media (max-width: 767px) {
    flex-basis: 100%;
  }

  @media (min-width: 992px) {
    max-width: 55%;
  }
}

.header-title {
  @include text-options("Nunito", 40px, 0px, 0px);
  text-align: center;

  @media (max-width: 525px) {
    font-size: 30px;
  }

  @media (max-width: 425px) {
    font-size: 25px;
  }
}

.header-desc {
  @include text-options("Nunito", 18px, 0px, 5px);
  font-weight: 500;
  line-height: 26px;
  text-align: center;

  @media (max-width: 525px) {
    line-height: 20px;
  }
}
